@font-face {
    font-family: study;
    src: url(/fonts/Study\ Alone.otf);
}
@font-face {
    font-family: present;
    src: url(/fonts/Present.otf);
}
@font-face {
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: beach;
    src: url(/fonts/Grooving.ttf);
}
@font-face {
    font-family: coffee;
    src: url(/fonts/coldcoffee__2005______.ttf);
}
@font-face {
    font-family: bubblegum;
    src: url(/fonts/Bubblegum.ttf);
}
@font-face {
    font-family: plopin;
    src: url(/fonts/Plopin\ Rough.ttf);
}
@font-face {
    font-family: robot;
    src: url(/fonts/guess-what-im-not-a-robot-screws.ttf);
}
@font-face {
    font-family: christmas;
    src: url(/fonts/Christmas\ Songs.ttf);
}
@font-face {
    font-family: flakes;
    src: url(/fonts/Snowflakes.ttf);
}
@font-face {
    font-family: fan;
    src: url(/fonts/fanlste.otf);
}


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/wp12047108-beige-flower-wallpapers.jpg)no-repeat;
    background-size: cover;
    
    
    
}

.container{
    background-color: #967259;
    display: grid;
    gap: 20px;
    width: 400;
    max-width: calc(100vw - 40px);
    padding: 30px;
    border-radius: 40px;
    font-size: 3rem;
    color: #000000;
    font-family: bubblegum;
    letter-spacing: 4px;
    filter: drop-shadow(3px 3px 15px rgb(0, 0, 0));
    position:relative;
    top: 40px;
    
    
    

}

#text{
    display: block;
    height: 300px;
    border-radius: .5rem;
    background-color: #d9d9d9;
    font-size: 1.5rem;
    border: none;
    resize: none;
    padding: 8px 10px;
    outline: 2px solid rgba(0, 0, 0, 0.623);
    color: #000000;
}

button{
    padding: 10px;
    background: #072227;
    color: #ffffff;
    border-radius: .8rem;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:lemon;
    letter-spacing: 6px;
}
select{
    flex: 1;
    height:20px;
    padding: 20px;
    outline:0;
    border: 1;
    border-radius: 35px;
}
.outside-box{
    position: absolute;
    align-items: center;
    
    
    top: 30px;
    font-family:coffee;
    
    font-size: 20px;
    

}
.box{
text-align: center;
font-size: 30px;
position: relative;
bottom: 20px;
letter-spacing: 12px;




}



  
  
